body{
    background-image: url("/TLDR/images/background-img.png");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position-y: -300px; */
    background-color: #231f20;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #ffcb08;
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.8s;
}
.navbar a:hover{
    background-color: #e4b300;
}

.main {
    margin-top: 45px; /* Add a top margin to avoid content overlay */
    text-align: center;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: 3px #ffcb08 solid;
    border-top: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.800);
    text-align: center;
    color: black;
    padding-bottom: 10px;
}
.content a{
    color: black;
    text-decoration: none;
    position: static;
}
.content a:hover{
    text-shadow: 0px 0px black;
}
.content h1{
    background-color: rgba(255, 201, 8, 1);
    margin: 0px;
}
.userInput{
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 1%;
    border: 3px #ffcb08 solid;
}
input[type="submit"]{
    background-color: #ffcb08;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border: none;
    margin: 10px;
    transition: background-color 0.8s;
}
input[type="submit"]:hover{
    background-color: #e4b300;
}