

body {
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #231f20;
  margin-left: 150px; /* Same as the width of the sidenav */

}

h1 {
  padding-top: 20px;
}

.nav-bar-title {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidenav {
  height: 100%;
  width: 84px;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #ffcb08;
  overflow-x: hidden;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav i {
  padding-bottom: 15px;
}

.sidenav a {
  /* line-height: 18px; */
  text-align: center;
  padding: 15px 6px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  background-color: #231f20;
}

.sidenav a:hover {
  color: #231f20;
  background-color: #f1f1f1;
}

#menu .selected {
  color: #231f20;
  background-color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#time1 {
  width: 100px;
}
#time2 {
  width: 100px;
}
.input-container {
  margin-bottom: 20px;
}

select {
  display: inline-block;
  width: 100px;
  padding: 6px;
  margin-right: 20px;
}

#signature-container {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border: 2px solid #ccc;
}

#signature-pad {
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  cursor: crosshair;
}

#signature-pad canvas {
  width: 25%;
  height: 25%;
}

#saved-signature {
  margin-top: 20px;
  border: 1px solid #000;
}

/* Responsive Two Column Layout */
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column3 {
  float: left;
  width: 33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1500px) {
  .column {
    width: 100%;
  }
  .column3 {
    width: 100%;
  }
}

.c-ib div {
  display: inline-block;
}

.column-full {
  padding: 10px;
}

.notification {
  display: block;
  /* font-weight: bold; */
  border-radius: 15px;
  background-color: #214dffc8;
  padding: 10px;
  width: 100%;
  color: white;
  text-align: center;
}

/* CSS for the fade-out animation */
.fade-out {
  animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      display: none;
  }
}

div label {
  display: block;
}

#tldr-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tldr-table td, #tldr-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tldr-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tldr-table tr:hover {
  background-color: #d8d8d8;
}

#tldr-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffcb08;
  color: black;
}

.disapproved-row {
  background-color: rgb(255, 207, 207) !important;
}

.tldr-table-blue th {
  color: white !important;
  background-color: #214dff !important;
}

.tldr-table-red th {
  color: white !important;
  background-color: #ff2121 !important;
}

.section-header {
  padding-bottom: 8px;
  padding-top: 5px;
}

.bold {
  font-weight: bold;
}

.btn-custom {
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  border: 2px solid #4CAF50;
}

.btn-small {
  padding: 8px 8px;
  transition-duration: 0.1s;
  margin-right: 10px;

}

.btn-custom:hover {
  border-radius: 0px;
  background-color: white;
  color: #4CAF50;
  transform: scale(1.03);
}

.btn-black:hover {
  background-color: white;
  color: black;
}

.btn-red:hover {
  background-color: white;
  color: red;
}

.btn-blue:hover {
  background-color: white;
  color: rgb(28, 119, 255);
}

.heading-back-btn {
  color: rgb(73, 73, 73);
  background-color: white;  
  transition-duration: 0.2;
}

.heading-back-btn:hover {
  color: rgb(130, 130, 130);
  background-color: white;  
  transform: scale(1.07);
}


.btn-custom[disabled] {
  color: lightgray !important;
  background-color: #807478 !important;
  cursor:default;
  border: 0px !important;
  border-radius: 8px !important;
}

.btn-black {
  background-color: black;
  border: 2px solid black !important;
}

.btn-blue {
  background-color: rgb(28, 119, 255); 
  border: 2px solid rgb(28, 119, 255) !important;
}

.btn-red {
  background-color: red;
  border: 2px solid red !important;
}

.centre {
  text-align: center;
  margin-top: 200px; 
}

.modal {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 600px;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.modal h2 { margin-top: 0; }
.modal .content {
  max-height: 400px;
  overflow: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cbta-Container1 {
	width: 550px;
	height: 339px;
	background: #ffffff;
	color: #000000;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
  overflow: auto;
  margin: 10px;
}

.cbta-h1 {
  padding-top: 0px;
  
}

.cbta-list1 {
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  list-style-position: inside;
  margin-bottom: 15px;
  column-count: 2; 
  column-gap: 45px;
  column-rule-style: solid;
  column-rule-width: 1px;
}

.cbta-list1 li {
  break-inside: avoid; 
  margin-bottom: 5px; 
}

.cbta-list1 li:nth-child(odd) {
  page-break-after: always; 
}

.list-item {
  display: flex; 
  align-items: center; 
  margin-bottom: 5px;
  padding-right: 50px; 
}

.checkboxs {
  width: 18px;
  height: 18px;
  background: #fafafa;
  border-color: #ffcb08;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px 2px 2px 2px;
  margin-left: 10px; 
  float: right;
  flex-shrink: 0;
  
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
.large-column {
  width: 60%;
}
.small-column {
  width: 20%;
}

.task_column {
  float: left;
  width: 33.33%;
}

.task_list {
  list-style-type: disc;
  margin-left: 20px;
}

.loginBody{
  background-image: url("../images/Login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0px;
}
#loginContainer{
  width: 400px;
  height: 100%;
  padding-top: 20%;
  margin:auto;
}
#loginForm{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  height: fit-content;
  width: 400px;
  text-align: center;
  padding-bottom: 10px;
}
#loginForm h1{
  width: 100%;
  border-bottom: solid black 1px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #ffcb08;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
#loginInputs{
  margin: 20px 0px 10px 0px;
}
#loginInputs input[type="email"],
#loginInputs input[type="password"]{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  width: 150px;
}
#loginForm a{
  text-decoration: none;
  color: black;
  transition-duration: 0.2s;
  border-radius: 5px;
}
#loginForm a:hover{
  padding: 0px 3px;
  /* font-size:large; */
  background-color: rgba(0, 102, 255, 0.089);
}
#loginForm input[type="submit"]{
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition-duration: 0.2s;
}
#loginForm input[type="submit"]:hover{
  transform: scale(1.03);
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

#registrationContainer{
  width: fit-content;
  padding-top: 100px;
  margin:auto;
}
#registrationForm{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 300px;
}
#registrationForm input[type="submit"],
#registrationForm input[type="button"]{
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
  width: 150px;
  height: 30px;
  margin-top: 5px;
}
#registrationForm input[type="submit"]:hover,
#registrationForm input[type="button"]:hover{
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}
#registrationForm input[type="text"], 
#registrationForm input[type="email"],
#registrationForm select,
#registrationForm input[type="date"],
#registrationForm input[type="number"]{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  width: 150px;
}
#registrationForm option{
  text-align: left;
}
#registrationForm h1{
  width: 100%;
  border-bottom: solid black 1px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #ffcb08;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}

#radioContainer label {
  display: block;
}

.floatBlock{
  margin: 0 1.81em 0 0;
}

.radioOptions {
  margin: auto;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	break-before: always;
}

#purchaseOrder {
	margin: 0 0 2em 0;
}

#learnerInput{
  display: none;
}
#instructorInput{
  display: none;
}
#qsdInput{
  display: none;
}

.subtext {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  border: solid 1px rgb(160, 160, 160);
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

.column3 #one {
  background-color: #4143DD;
  color: white;
}

.column3 #two {
  background-color: #4DAB59;
  color: white;
}

.column3 #three {
  background-color: #F38323;
  color: white;
}

.column3 #four {
  background-color: #EB3439;
  color: white;
}

a {
  
  text-decoration: none !important;
  color: inherit;
}

.top-right {
  position: absolute;
  top: 1;
  right: 0;
  margin: 5px;
  padding: 15px;
}

.hover {
  margin-top: 5px;
  padding: 10px 0px;
  border-radius: 15px;
  transform-origin: bottom left;
  transition-duration: 0.2s;
}

.no-padding {
  padding: 0px !important;
}

.hover:hover {
  background-image: linear-gradient(to right, rgb(208, 255, 208) , rgba(255, 255, 255, 0));
  transform: scale(1.03);
}
.dashboard {
  border: none;
  width: 400px;
  height: 200px;
  transition-duration: 0.2s;
}

.dashboard:hover {
  transform: scale(1.03);
}

.dashboard span {
  float: right;
  margin-right: 130px;
  font-size: 30px;
  position: relative;
  top: 20px;
}

.dashboard h3 {
  float: right;
  margin-right: 20px;
  position: relative;
  bottom: 80px;
}

.dashboard h2 {
  margin-left: 10px;
  font-size: 60px;
}

#emailConfirm{
  border: default;
}
#emailContainer p{
  font-size: 10px;
  color: red;
  font-weight: bold;
}
#password{
  margin-bottom: 0px !important;
}
#passwordContainer p{
  font-size: 10px;
  color: red;
  font-weight: bold;
}
.passCriteria{
  /* border: 1px solid black; */
  width: fit-content;
  height: fit-content;
  text-wrap: wrap;
  margin: 0px;
  margin: auto;
  padding: 0px;
  position: relative;
}
.passCriteria ul{
  font-size: 12px;
  text-align: justify;
  padding: 0px;
  margin: 0px;
}
.passCriteria p{
  margin: 0px;
}

.reportContainer{
  width: 500px;
  height: fit-content;
  border: 2px gray solid;
  border-radius: 5px;
  padding-bottom: 5px;
  margin:auto;
}
.reportContainer .rHead{
  margin: 0px;
  width: 100%;
  padding-top: 3px;
  height: 25px;
  text-align: center;
  border-bottom: 2px gray solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffcb08;
}
.reportContainer button{
  margin: auto;
  margin-top: 5px;
  border: 2px solid #4CAF50;
  display: block;
  box-sizing: border-box;
  width: 190px;
  height: 30px;
  text-decoration: none;
  color: white;
  background-color:#4CAF50;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.reportContainer button:hover{
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}
.reportItem{
  border: 2px gray solid;
  text-align: center;
  width: 190px;
  height: 30px;
  margin: 5px auto 5px auto;
}
.reportItem p{
  margin: 0px;
  padding: 5px;
}
.selectWrapper{
  overflow: hidden;
  border-radius: 10px;
  background: #4CAF50;
  border: 2px solid #4CAF50;
  margin: 5px auto 0px auto;
  width: fit-content;
}
#insName{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}
.reportItemLabel{
  margin: auto;
}

progress[value] {
  --color: rgb(34, 34, 255); /* the progress color */
  --background: lightgrey; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}