body {
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #231f20;
  }
  
  .sidenav {
    height: 100%;
    width: 84px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffcb08;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #231f20;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }